[Desktop Entry]
Name=UltraStar Deluxe Utility
Comment=Open UltraStar Deluxe archives
Exec=env DATA_DIR=/usr/share/ultrastardx-utility /usr/bin/usdx-open
Type=Application
StartupNotify=true
Categories=Game;Utility;
MimeType=application/x-tar-usdx;
Icon=application-x-tar
NoDisplay=true
